---
layout: default
permalink: /
title: Home
nav-order: 1
nav-box-bg:
  projects: https://m-umar.me/assets/img/Projects/RBA/RBA-480.webp
  research: https://m-umar.me/assets/img/Publications/transistors-480.webp
  about: https://m-umar.me/assets/img/Home/profile_picture-480.webp
  resume: https://m-umar.me/assets/img/Projects/CT/CT-480.webp
  content: https://m-umar.me/assets/img/Publications/EnglishPB-480.webp
  more: https://m-umar.me/assets/img/Projects/MU/MU-480.webp
---

<header class="container-fluid">
    <div class="row full-page d-flex justify-content-center">
        <div class="col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center p-3 p-sm-5 p-lg-3">
            <img class="img-fluid rounded-circle m-5 m-md-0" src="assets/img/profile_picture.jpg">
        </div>
        <div class="col-md-6 col-lg-5 d-flex flex-column justify-content-center p-2">
            <div>
                <h1 class="display-5 display-lg-4 text-center text-md-start">M. Umar Shahbaz</h1>
                <p>I'm a student from Pakistan with experience in C++, Python, JavaScript, and Ruby. I enjoy the
                    precision of C++—and, somehow, I've also grown fond of JavaScript's beautiful chaos.</p>
            </div>
        </div>
    </div>
</header>

<!-- Hackatime -->
<section class="container-fluid full-page d-flex flex-column pb-5" style="background-color: var(--bs-gray-800)">
    <h1 class="display-3 text-center text-white p-5">Check out my Hackatime!!</h1>
    <div class="row justify-content-center flex-fill">
        <div class="col-md-8 col-lg-6 align-self-center">
            <p class="text-center fs-3 text-white"><span id="total_duration"></span></p>
            <div class="row"><div class="col-sm-6"><p class="text-center fs-3 text-white">Total : <span id="coding_duration"></span></p></div><div class="col-sm-6"><p class="text-center fs-3 text-white"> Avg : <span id="avg"></span></p></div></div>
            <img src="https://github-readme-stats.hackclub.dev/api/wakatime?username=6834&api_domain=hackatime.hackclub.com&theme=default&custom_title=Hackatime+Stats&layout=compact&cache_seconds=0&langs_count=8"
                class="image-fluid w-100 h-auto">
        </div>
    </div>
</section>

<!-- Skills -->
<section class="py-5">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-12">
        <h2 class="display-5 fw-bold">Skills and Tools</h2>
        <p class="lead text-muted">LEVE Stack (<b>L</b>iterally
          <b>EVE</b>rything)</p>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-md-4">
        {% assign mern = "MongoDB,Express,React,NodeJS" | split: "," %}
        {% include skill.liquid title="MERN Stack" subtitle="Web Development (WIP)" icons=mern %}
      </div>

      <div class="col-md-4">
        {% assign git_github = "Git,GitHub" | split: "," %}
        {% include skill.liquid title="Git & GitHub" subtitle="Collaboration" icons=git_github %}
      </div>

      <div class="col-md-4">
        {% assign js_ts = "JavaScript,TypeScript" | split: "," %}
        {% include skill.liquid title="JavaScript & TypeScript" subtitle="JS" icons=js_ts %}
      </div>

      <div class="col-md-4">
        {% assign unity_blender = "Unity,Blender" | split: "," %}
        {% include skill.liquid title="Unity & Blender" subtitle="Game Development (WIP)" icons=unity_blender %}
      </div>

      <div class="col-md-4">
        {% assign arduino = "Arduino" | split: "," %}
        {% include skill.liquid title="Arduino" subtitle="Robotics" icons=arduino %}
      </div>

      <div class="col-md-4">
        {% assign languages = "CPlusPlus,CSharp,Python,Ruby" | split: "," %}
        {% include skill.liquid title="C++, C#, Python & Ruby" subtitle="Other Languages" icons=languages %}
      </div>
    </div>
  </div>
</section>

<!-- More Pages-->
<section class="container-fluid my-5 d-flex justify-content-center flex-column" style="min-height: calc(100vh - 10rem);">
    <div class="row g-3 w-100">
        <h1 class="display-3 p-5">Check out other pages!</h1>
        <div class="col-md-6">
            <div class="row g-3 h-100">
                <div class="col-12" style="aspect-ratio: 2/1">
                    <a href="{{ '/projects/' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded" style="background-image: url('{{ page.nav-box-bg.projects }}')"><p class="text-white align-self-end fw-bold fs-2 fs-md-1 px-5">Projects</p></div>
                    </a>
                </div>
                <div class="col-12" style="aspect-ratio: 2/1">
                    <a href="{{ '/research/' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded" style="background-image: url('{{ page.nav-box-bg.research }}')"><p class="text-white align-self-end fw-bold fs-2 fs-md-1 px-5">Research</p></div>
                    </a>
                </div>
            </div>
        </div>        
        <div class="col-md-6">
            <div class="row g-3 h-100">
                <div class="col-6" style="aspect-ratio: 1/1">
                    <a href="{{ '/about.html' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded justify-content-center" style="background-image: url('{{ page.nav-box-bg.about }}')"><p class="text-white align-self-center fw-bold fs-2 fs-md-1">About</p></div>
                    </a>
                </div>
                <div class="col-6" style="aspect-ratio: 1/1">
                    <a href="{{ '/resume.html' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded justify-content-center" style="background-image: url('{{ page.nav-box-bg.resume }}')"><p class="text-white align-self-center fw-bold fs-2 fs-md-1">Resume</p></div>
                    </a>
                </div>
                <div class="col-6" style="aspect-ratio: 1/1">
                    <a href="{{ '/content/' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded justify-content-center" style="background-image: url('{{ page.nav-box-bg.content }}')"><p class="text-white align-self-center fw-bold fs-2 fs-md-1">Content</p></div>
                    </a>
                </div>
                <div class="col-6" style="aspect-ratio: 1/1">
                    <a href="{{ '/more.html' | absolute_url }}" class="text-decoration-none">
                    <div class="w-100 h-100 d-flex nav-box-card rounded justify-content-center" style="background-image: url('{{ page.nav-box-bg.more }}')"><p class="text-white align-self-center fw-bold fs-2 fs-md-1">More...</p></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let hackatime = null;
    const fetch_data = async () => {
        const response = await fetch('https://hackatime.hackclub.com/api/v1/users/6834/stats');
        if (!response.ok) throw new Error('Failed to fetch');
        hackatime = await response.json();
    }

    fetch_data();
    
    document.addEventListener('DOMContentLoaded', async () => {
        function show_durations() {
            if (hackatime === null) {
                document.getElementById('total_duration').innerText = "loading";
                document.getElementById('coding_duration').innerText = "loading";
                document.getElementById('avg').innerText = "loading";
                return;
            }
            
            const seconds = (dur) => Math.floor(dur % 60);
            const minutes = (dur) => Math.floor((dur / 60) % 60);
            const hours = (dur) => Math.floor((dur / (60 * 60)) % 24);
            const days = (dur) => Math.floor(dur / (60 * 60 * 24));
            const pad = (num) => String(num).padStart(2, '0');

            // Manually update start time, Hackatime API broke for some reason
            hackatime.data.start = '2025-06-17T12:36:34Z';
            const total_duration = (Date.now() - new Date(hackatime.data.start).getTime()) / 1000;
            const avg_duration = hackatime.data.total_seconds / days(total_duration);

            document.getElementById('total_duration').innerText = `${days(total_duration)} days ${pad(hours(total_duration))} hrs ${pad(minutes(total_duration))} mins ${pad(seconds(total_duration))} secs`;
            document.getElementById('coding_duration').innerText = hackatime.data.human_readable_total;
            document.getElementById('avg').innerText = `${hours(avg_duration)}h ${minutes(avg_duration)}m ${seconds(avg_duration)}s`;
        }
        show_durations();
        setInterval(show_durations, 500);
    });
</script>