---
layout: default
permalink: /more.html
title: More
nav-order: 6
---
<div class="containter p-5 full-page">
  {% assign root_pages = site.pages | where_exp: 'this_page', 'this_page.title' %}
  {% if root_pages.size > 0 %}
    <h2>Root</h2>
    <ul>
      {% for this_page in root_pages %}
        <li>
          <a href="{{ this_page.url | absolute_url }}">{{ this_page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for collection in site.collections %}
    {% if collection.docs.size > 0 %}
      {% unless collection.label == 'navbar_pages' %}
        <h2>{{ collection.label | capitalize }}</h2>
        <ul>
          {% for doc in collection.docs %}
            <li>
              <a href="{{ doc.url | absolute_url }}">{{ doc.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>