---
layout: default
permalink: /projects/
title: Projects
nav-order: 3
sections:
  section1: 
    - { name: Web Development, id: web_development }
    - { name: Game Development, id: game_development }
    - {name: Robotics, id: robotics }
    - {name: Embedded Systems, id: embedded_systems }
container_classes: container-fluid p-5
---

{% include categorized_project.liquid category="web_development" %}
{% include categorized_project.liquid category="game_development" %}
{% include categorized_project.liquid category="robotics" %}
{% include categorized_project.liquid category="embedded_systems" %}