<div class="text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="background-color: {{ include.icon.color }}; width: 60px; height: 60px;">
  <i class="{{ include.icon.class }} fa-2x"></i>
</div>