<div class="navigation">
  <button title="Menu" id="menu">☰</button>
  <nav class="dropdown-content navigation-bar">
    <a href="/events&affiliations/">Events & Affiliations</a>
    <a href="/publications/">Publications</a>
    <a href="/projects/">Projects</a>
    <a href="/github/">GitHub</a>
    <a href="/education/">Education</a>
    <a href="/">Home</a>
  </nav>
  <div id="progress"></div>
  <div id="progress" style="width: 100%; background-color: #272626; z-index: 999;"></div>
</div>