@import "navbar";
@import "navbox";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.full-page {
    min-height: 100vh;
}

[data-bs-theme="dark"] .bg-dark,
[data-bs-theme="dark"] .bg-dark-black,
[data-bs-theme="dark"] .card {
    background-color: var(--bs-black) !important;
}