@import "text", "card", "carousel", "slideshow";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;


    background-color: var(--button-background-color);
    border: 1px solid var(--button-background-color);
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--button-text-color);
    fill: var(--button-text-color);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--button-shadow-color);

    &:hover {
        background-color: var(--button-hover-background-color);
        color: var(--button-hover-text-color);
        fill: var(--button-hover-text-color);
        translate: 0px -5px;
        transition: all 0.15s ease-in-out;
    }

    &:active {
        translate: 0px 0px;
        box-shadow: 0px 0px 5px var(--button-shadow-color);
    }
}

.circle {
    border-radius: 50%;
}

.rounded-corners {
    border-radius: 15px;
}

.heading{
    color: var(--secondary-color);
    margin: 20px 50px;
    border-bottom: 2px solid var(--secondary-color);
    padding: 10px 30px;
    width: calc(100% - 160px);
    font-weight: bolder;
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.big-spacer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.no-gap {
    gap: 0px;
}

.no-shadow {
    box-shadow: none;
}

.white-bg {
    background-color: white;
}

.icons {
    img {
        padding: 5px;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline {
    display: inline-block;
}

.title-with-element {
    h1 {
        margin: 0;
    }

    .element {
        float: right;
    }
}

.vertical-hr {
    height: 100%;
    margin: 0 20px;
    width: 0px;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

.inline-code {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

.black-border {
    border: 1px solid black;
}

.model-viewer {
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
}

.center-self {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .title-with-element {
        .element {
            float: none;
            margin: 20px auto;
        }
        h1 {
            text-align: center;
            display: block;
        }
    }
}