.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.xxl-text {
    font-size: xx-large;
}