:root {
  /* Main Colors */
  --primary-color: #FF4C60;
  --secondary-color: #FFB627;
  --text-color: #000000;

  /* Nav-Bar Colors */
  --nav-bar-bg-color: #0A0F29;
  --nav-bar-text-color: #FFB627;
  --nav-bar-text-hover-color: #FF4C60;
  --nav-drop-links-bg-color: #1C233A;

  /* Footer Colors */
  --footer-background-color: #0A0F29;
  --footer-text-color: #ffffff;

  /* Background Colors */
  --background-color: #ff929d;
  --body-background-color: #ffffff;
  --background-pattern: url('../img/bg.webp');

  /* Button Colors */
  --button-background-color: #FF4C60;
  --button-hover-background-color: #ffffff;
  --button-text-color: #FFFFFF;
  --button-hover-text-color: #FF4C60;
  --button-shadow-color: #1C233A;

  /* Image Colors */
  --image-shadow-color: #000000;

  /* Card Colors */
  --card-background-color: #FFFFFF;
  --card-shadow-color: rgba(0, 0, 0, 0.2)
}

[data-theme="dark"] {
  /* Main Colors */
  --primary-color: #ff8492;
  --secondary-color: #ffce6d;
  --text-color: #eaeef5;

  /* Nav-Bar Colors */
  --nav-bar-bg-color: #000418;
  --nav-bar-text-color: #ffce6d;
  --nav-bar-text-hover-color: #ff8492;
  --nav-drop-links-bg-color: #1C233A;

  /* Footer Colors */
  --footer-background-color: #000418;
  --footer-text-color: #ffffff;

  /* Background Colors */
  --background-color: #7d0b18;
  --body-background-color: #3b3b3b;
  --background-pattern: url('../img/bg.webp');

  /* Button Colors */
  --button-background-color: #FF4C60;
  --button-hover-background-color: #ffffff;
  --button-text-color: #ffffff;
  --button-hover-text-color: #FF4C60;
  --button-shadow-color: #000000;

  /* Image Colors */
  --image-shadow-color: #000000;

  /* Card Colors */
  --card-background-color: #1C233A;
}
