body {
    background-color: var(--background-color);
    background-image: var(--background-pattern);
}

#body {
    background-color: var(--body-background-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

#nav-bar {
    background-color: var(--nav-bar-bg-color);

    #nav-links {
        a {
            font-family: 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--nav-bar-text-color);
            font-size: large;
            font-weight: bold;
            &:hover {
                color: var(--nav-bar-text-hover-color);
                //font-size: xx-large;
                transition: color 0.3s ease-in;
            }
        }
    }



    .progress {
        background-color: var(--secondary-color);
    }
}

#foot {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);

    #foot-bar {
        background-color: var(--secondary-color);
    }
}

p, li, ol, ul {
    font-size: large;
    line-height: 1.5;
}

img {
    box-shadow: 0 0 10px var(--image-shadow-color);
}

@media (max-width: 1000px) {
    #nav-bar {
        #nav-links {
            background-color: var(--nav-drop-links-bg-color);
            transition: top 0.5s ease-out;
        }

        #menu-bg {
            background-color: var(--nav-bar-bg-color);

            #menu {
                background-color: var(--nav-bar-bg-color);
                color: var(--nav-bar-text-color);
                font-size: x-large;
                border: none;
                cursor: pointer;

                &:hover {
                    color: var(--nav-bar-text-hover-color);
                    //font-size: xx-large;
                    transition: 0.3s ease-out;
                }
            }
        }
    }
}