{% if include.title %}
    <div class="text-overlay">
      <h1 id="slide-title">{{ include.title }}</h1>
      <p id="slide-description">{{ include.description }}</p>
    </div>
  {% endif %}
  <button class="nav-btn prev-btn">«</button>
  <button class="nav-btn next-btn">»</button>