<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.liquid title=page.title %}
  </head>
  <body>
    {% include navigation-bar.liquid %}
    {{ content }}
    {% include footer.liquid %}
  </body>
</html>